<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>this is index.ejs file aaaa</p>
  <img src='./images/haha.png'>
  <form action="/answer" method="POST">
    <p>猜猜看，我喜歡什麼顏色的衣服？</p>
    <input name="preferColor" autocomplete="off">
    <button>送出</button>
  </form>
</body>

</html>